<span id="helloguest"></span>

我们的婚礼将于2017年6月4号中午在连云港举办，欢迎你的光临！

地点：
<div id="map"></div>  

<div id="slider">
	<ul class="slides clearfix">
		<li><img class="responsive" src="../image/1.jpg"></li>
		<li><img class="responsive" src="../image/2.jpg"></li>
		<li><img class="responsive" src="../image/3.jpg"></li>
		<li><img class="responsive" src="../image/4.jpg"></li>
	</ul>
	<ul class="controls">
		<li><img src="../image/prev.png" alt="previous"></li>
		<li><img src="../image/next.png" alt="next"></li>
	</ul>
	<ul class="pagination">
		<li class="active"></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>