<div id="main-content">
	<div id="all">
		<div id="name">
			<span>成明</span>
			<img id="flower" src="../image/flower.png"><img>
			<span>李亚会</span>
		</div>
		<img id="pic" class="pic" src="../image/1.jpg" href="../image/1.jpg"/>
		<img class="pic hide" href="../image/2.jpg"/>
		<img class="pic hide" href="../image/3.jpg"/>
		<img class="pic hide" href="../image/4.jpg"/>
		<img class="pic hide" href="../image/5.jpg"/>
		<img class="pic hide" href="../image/6.jpg"/>
		<img class="pic hide" href="../image/7.jpg"/>
		<img class="pic hide" href="../image/8.jpg"/>
		<div id="time">二零一七年·六月四日</div>
		<div id="time">江苏·连云港</div>
		<div id="address" class="address" href="javascript:void(0);">
			<img id="marker" src="../image/marker.png"><img>
			<span>开元曼居酒店</span>
		</div>
	</div>
</div>