<div id="main-content">
	<div id="all">
		<div id="name">
			<span>about 连云港</span>
		</div>
		<img id="lyg" class="pics" src="../image/lyg.jpg"/>
		<div class="textdiv intro normal-size">
			<p>
				<span>简介:</span><a target="_self" href="http://baike.baidu.com/link?url=Od-S-fFOXv-IDqVOfvJ0H7YeF_giggpr5Es70bVzzhmwHxT_rtFJ1PMZ9nJWuewVx_PUj1o_Tt01UuVjhz0Neaeqhv0fk61tK49zMvkCIKKeirp-qMQutg2WCdLyayo-">百科</a>
			</p>
			<p>
				<span>交通：</span>
				<ul class="normal-size">
					<li>最近机场：<a id="airport" href="javascript:void(0);">连云港白塔埠机场</a></li>
					<li>最近高铁站：<a id="crt">徐州东站</a>，之后徐州东站有直达连云港市区大巴</li>
					<li>最近火车站：<a id="trains">连云港东站</a>，连云港东站有直达连云港市区快速公交（BRT）</li>
				</ul>
			</p>
		</div>
	</div>
</div>