<script type="text/javascript" src="../media/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../media/js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="../media/js/common-func.js"></script>

<script type="text/javascript">  
window.onload = loadScript;

function loadMapHotel(){
	loadMap(119.176292,34.605958,20);
}

$(document).ready(function(){
	$("#helloguest").text(getQueryString("helloguest"));
	var version = getQueryString("v");
	if (version=='1'){
		$("#commonText1").text("成光、徐宁玲之子成明的婚礼，将于：");
	}

	$(".pic").colorbox({rel:'pic', slideshow:true, width:"90%", height:"90%"});
	$("#address").colorbox({
		rel:'address', width:"90%", height:"90%",
		onComplete: loadMapHotel
	});
});
</script>
